<!DOCTYPE html>
<html lang="{{ local }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="{{ 'app.asset' | hook('img/icon.png') }}" rel="icon" sizes="32x32">
    <!-- Style -->
    <link href="{{ 'app.asset' | hook('css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img class="logo" src={{ 'app.asset' | hook('img/logo.png') }}>
        <h1>{{ welcome }}</h1>
        <p>{{ description }}</p>
        <a class="docs-link" href="{{ app.info.documentation }}">Read the Docs</a>
        <div class="footer">
            <div class="version">Framework version: {{ app.info.version }}</div>
            <div class="copyright">&copy; : {{ '' | date('Y') }}</div>
        <div>
    </div>
</body>
</html>